body {
    text-align: center;
    background-color: #fcf7f7;
    font-family: Raleway, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0
}
.home-title {
    margin-top: 10px;
    color: #C18484;
    font-family: 'Rock Salt' 'Brandly Hand', sans-serif;
    font-size: 2em;
}
.msg p {
    font-size: 8em
}
.msg {
    background-color: #6f7364;    
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
    box-sizing: border-box;
}
header {
    background-color:rgb(223, 222, 227);
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color:#fffafa;
}
.book, .join {
    font-size: 18px;
    border-radius: 5px;
    background-color:bisque;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    color: black;
}
.book:hover, .join:hover {
    background-color:blanchedalmond;
}
#background {
    height: 725px;
    background: color #2b3856;

}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
h4 {
    background-color:#2b547e;
}
.msg p {
    background-color:rgb(35, 1, 66);
    padding-bottom: 8px;
}
footer {
    background-color:#2b3856;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    background-color:#4863a0;
    text-decoration: none;
}
footer a:hover {
    background-color:#2b547e;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #2b3856;                 
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
#hero {
    display: grid;
    grid-column: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: white;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.card-img, .mountains {
    width: 100%;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #2b3856;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #2b547e;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}