#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px
}
body {
    background-color: #fefcff;
}
header {
    background-color:beige;
}
nav a:hover {
    background-color:#fffafa;
}
.book, .join {
    background-color:bisque;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color:blanchedalmond;
}
#background {
    background: color #29465b;
}
.msg {
    background-color:#ffffff;
}
.home-title {
    background-color:#ffffff
}
h4 {
    background-color:#2b547e;
}
.msg p {
    background-color:black;
}
footer {
    background-color:#2b3856;
}
footer a {
    background-color:#4863a0;
    text-decoration: none;
}
footer a:hover {
    background-color:#2b547e;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}